<h1 class="main-head primary-text text-center font-weight-bold text-primary">Questions</h1>
<div id="allq">
  <% @questions.each_with_index do |ques,index| %>
    <% if index == 0 %>
      <p class="tech primary-text text-left font-weight-bold text-primary"> Technical Questions</p>
    <% elsif index == 6 %>
      <p class="tech primary-text text-left font-weight-bold text-primary"> Non-Technical Questions</p>
    <% elsif index == 10 %>
      <p class="tech primary-text text-left font-weight-bold text-primary"> Interaction </p>
    <% end %>
    <div class="question" id=<%= "q-#{ques.id}" %>>
      <div class="ques">
        <p  id="ques"><%= "Q#{index + 1}. " + ques.question.question %></p>
        <p class="ans">
          <%= "ANS: " + ques.question.ans %>
        </p>
      </div>
      <div class="score">
        <% if index != 10 %>
          <% for index in 1..10 %>
            <%= button_to "#{index}", save_score_path(ques.id,score: (index)), method: :post,class:"score-btn s-#{ques.id}-#{index}", remote: true %>
          <% end %>
        <% else %>
          <%= form_with(url: calculate_score_path , remote: true) do |form|%>
            <%= form.number_field :marks, in: 0..50, step: 0.5 , placeholder:"MAX 50(marks)" %>
            <%= form.submit "Submit" %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
